<!DOCTYPE html>
<html>
<head>



<meta charset="UTF-8">
<title>پیام سیستم</title>
<link rel='stylesheet'  href="{{ static_url('css/user_panel/style.css') }}" type='text/css' />
    <link rel='stylesheet' href="{{ static_url('fonts/index/fonticon/style.css') }}" type='text/css'/>
    <script type="text/javascript" src="{{ static_url('js/index/jquery-1.10.2.min.js') }}"></script>
<link rel='stylesheet'  href="{{ static_url('css/public.css') }}" type='text/css' />


</head>
<body>

<div class="text-center font-size-error ">
شما اجازه دسترسی به این صفحه را ندارید.
</div>

</body></html>